/* simple green/black pulse */
.animation {
  border: 4px solid transparent;
  border-radius: 8px;
}
.animation:hover {
  animation: 
    pulse 1.2s ease-in-out infinite,
    spin 1.2s linear infinite;
    border-radius: 8px;
    cursor: pointer;
    zoom: normal;
    transform: scale(2);
}

/* smooth pulse */
@keyframes pulse {
  0%   { border-color: black; 
          box-shadow: 0 5px 12px darkgreen;}
  25%  { border-color: #09ff0073; 
          box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.192); }
  50%  { border-color: rgba(8, 212, 18, 0.699); 
          box-shadow: 0 5px 12px rgba(1, 158, 82, 0.603); 
          transform: translate(0, 5px); }
  75%  { border-color: #09ff0073; 
          box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.192); }
  100% { border-color: black; 
          box-shadow: 0 5px 12px darkgreen;}
}
/* simple spin */
@keyframes spin {
  0% { border: rotate(0deg); }
  100% { border: rotate(360deg); }
}
/* Responsive button size */
.btn {
  font-size: clamp(1.3ßrem, 1.0vw, 2.0rem);
}
/* 3 items per row */
.btns-3 > .btn-cell { 
  flex: 0 0 calc(100% / 3); 
}
/* center the button inside the cell */
.btns-3 > .btn-cell { display: flex; justify-content: center; }
